.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  background-color: #f5f5fd;
}

.preloader .loader {
  position: relative;
  margin: auto;
  width: 160px;
  height: 160px;
  display: flex;
}

.preloader .loader .loader-animate-big {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  border-top: 6px solid #4B5261;
  border-bottom: 6px solid #4B5261;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  -webkit-animation: spin1 2s linear infinite;
  animation: spin1 2s linear infinite;
  margin: auto;
}

.preloader .loader .loader-animate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  border-top: 6px solid #2388ed;
  border-bottom: 6px solid #2388ed;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
}

.preloader .loader .loader-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../images/products/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes spin1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}