:root {
  background-color: #f5f5fd;
  color: #273140;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 150%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #1c1f21;
  position: relative;
  background-color: #f5f5fd;
  box-sizing: border-box;
}

main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
section,
small,
i {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #4B5261;
  font-weight: 500;
}

h4 {
  margin-bottom: 0;
}

h6 {
  font-size: 20px;
}

b {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: inherit;
}

i,
span,
u {
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
}

header {
  position: relative;
  /* z-index: 1061; */
  z-index: 1040;
}

.container,
.container-fluid {
  height: 100%;
  position: relative;
}

.clr_blue,
.color-blue {
  color: #2388ed;
}

.clr_black,
.color-black {
  color: #1c1f21;
}

.color-gray {
  color: #4a5560;
}

.color-white {
  color: #ffffff;
}

.color-red {
  color: red;
}

img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

.btn {
  padding: .375rem 1.75rem;
  text-transform: capitalize;
  /* color: #4B5261; */
  border-radius: 6px;
}

.btn-primary {
  box-shadow: 0px 1px 10px rgb(0 135 235 / 22%);
  background-color: #2388ed !important;
  border-color: #2388ed !important;
  border-radius: 6px;
}

.btn-primary.inverse {
  color: #2388ed !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  border-radius: 6px;
}

.btn-primary.inverse:hover,
.btn-primary.inverse:focus,
.btn-primary.inverse:active {
  box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
  color: #626c75 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #4688ed;
  border-color: #4688ed;
}

.btn-delete {
  color: #e71b1b !important;
}

.title,
.titleinverse {
  text-transform: capitalize;
  font-weight: bold;
  line-height: 100%;
  position: relative;
  display: block;
  max-width: max-content;
}

.titleinverse {
  color: #ffffff;
}

.titleinverse:after,
.title::after {
  content: '';
  width: 40px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -15px;
  right: -25px;
  display: none;
}

.title::after {
  background-image: url('../../../images/icons/title_top_element.png');
}

.titleinverse::after {
  background-image: url('../../../images/icons/ready_set_smile_banner.png');
}

.subtitle {
  font-weight: bold;
  line-height: 100%;
  position: relative;
}


/* footer style */

footer {
  position: relative;
  margin-top: 5rem;
  background-color: #1c1f21;
}

footer p {
  color: #ffffff;
}

footer h6 {
  font-size: 1.3rem;
  color: #2388ed;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footerlogo {
  position: absolute;
  /* height: 60px; */
  top: -40px;
  left: 0;
  right: 0;
  object-fit: cover;
  margin: auto;
  width: 100%;
  text-align: center;
}

.footerlogo figcaption {
  width: fit-content;
  margin: auto;
}

.footerlogo figcaption img {
  height: 80px;
  max-width: 350px;
  padding: 10px 50px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px -1px 4px 1px rgb(209 209 209 / 50%);
}

.footersocial a.btn {
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
}

.footersocial a.btn:focus {
  box-shadow: none !important;
  outline: none;
}

.footersocial a.btn.fb {
  background-image: url('../../../images/icons/footer_facebook_normal.png');
}

.footersocial a.btn.fb:hover {
  background-image: url('../../../images/icons/footer_facebook_hover.png');
}

.footersocial a.btn.twitter {
  background-image: url('../../../images/icons/footer_tweeter_normal.png');
}

.footersocial a.btn.twitter:hover {
  background-image: url('../../../images/icons/footer_tweeter_hover.png');
}

.footersocial a.btn.insta {
  background-image: url('../../../images/icons/footer_insta_normal.png');
}

.footersocial a.btn.insta:hover {
  background-image: url('../../../images/icons/footer_insta_hover.png');
}

.footersocial .list-group-item {
  margin-right: 1rem;
  border: 0;
}

.footersocial.list-group-horizontal .list-group-item {
  border-radius: 0 !important;
  padding: 0;
  background: transparent;
  border-radius: 100%;
}

.followus .list-group-item {
  position: relative;
  width: fit-content;
  display: block;
  padding: .5rem 2.25rem;
  background-color: transparent;
  border: none;
  color: #fff;
}

.followus .list-group-item:last-child {
  margin-right: 0;
}

.followus .list-group-item:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background-image: url('../../../images/icons/footer_bullet_normal.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
}

.followus .list-group-item:hover {
  color: #2388ed;
}

.followus .list-group-item:hover::before {
  background-image: url('../../../images/icons/footer_bullet_hover.png');
}

.contactus .media small:nth-child(2) {
  color: #ffffff;
}

.copyright {
  border-top: 1px solid #4B5261;
}

.copyright small {
  font-size: 10px;
}


/* floating button */

.floatnav {
  top: 0;
  right: 0;
  z-index: 11;
}

.floatnav a {
  display: block;
  right: -200px;
  transition: 0.3s;
  padding: 10px;
  width: 250px;
  position: fixed;
  background: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  box-shadow: 0px 0px 3px #d1d1d1;
}

.floatnav a img {
  margin-right: 10px;
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.floatnav a.amicandidate {
  top: 42vh;
}

a.amicandidate:hover,
a.amicandidate:focus {
  right: 0;
  text-decoration: none;
}

.floatnav a.amiuser {
  top: 52vh;
}

a.amiuser:hover,
a.amiuser:focus {
  right: 0;
  text-decoration: none;
}


/* floating button end */

.text-bold,
.text-bold span {
  font-weight: bold;
}

.bg-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-center-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-left-center {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-left-top {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.galss-dots {
  position: relative;
}

.galss-dots::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: top 10px left 10px, top 10px right 10px, bottom 10px right 10px, bottom 10px left 10px;
  background-image: url('../../../images/products/graydot.png'), url('../../../images/products/graydot.png'), url('../../../images/products/graydot.png'), url('../../../images/products/graydot.png');
  background-repeat: no-repeat;
  background-size: 27px;
  /* z-index: 1; */
}


/* bottom page smile background */

.smile-bottom-bg {
  background-image: url('../../../images/products/ready_set_smile_banner_home.png');
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
}

.smile-bottom-bg h2 {
  color: #fff;
  font-weight: bold;
}


/* vertical height */

.vh-min-50 {
  min-height: 50vh;
}

.vh-min-75 {
  min-height: 75vh;
}

.hide,
.hidden {
  display: none;
}

.show {
  display: block;
}


/* product-card rating */

.rating {
  width: max-content;
  display: flex;
  -ms-flex-direction: row-reverse!important;
  flex-direction: row-reverse!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0;
}

.rating>label::before {
  content: "\f005";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  line-height: 1;
  opacity: 1;
  color: #eaeaea;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  color: #2388ed;
}

.rating>input:checked~label:before {
  color: #2388ed;
}

.rating:hover>input:checked~label:before {
  color: #2388ed;
}


/* selct option */

.select-option .btn:focus,
.select-option .btn.active,
.select-option .btn:active,
.select-option .btn:hover {
  background-color: #ffffff !important;
  color: #4688ed !important;
  box-shadow: 0 0 4px 1px rgba(0, 123, 255, .3) !important;
  outline: none !important;
}

.select-option .bootstrap-select .btn.dropdown-toggle:focus,
.select-option .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
  outline: none !important;
}

.select-option .btn:focus .filter-option-inner-inner,
.select-option .btn.active .filter-option-inner-inner,
.select-option .btn:active .filter-option-inner-inner,
.select-option .btn:hover .filter-option-inner-inner {
  color: #4688ed !important;
}

.select-option .bootstrap-select>.dropdown-toggle {
  background-color: #ffffff;
  padding-bottom: .7rem;
  padding-top: .7rem;
  padding-left: .7rem;
  padding-right: .7rem;
  box-shadow: 0px 0px 10px 1px rgb(0 135 235 / 22%);
}

.select-option .filter-option-inner-inner {
  color: #4688ed !important;
  font-weight: bold;
}

.select-option .dropdown-item.active,
.select-option .dropdown-item:active {
  outline: none;
}

.select-option .bs-actionsbox .btn-group button {
  max-width: 150px;
}

.select-option .bs-actionsbox .btn-group button.bs-select-all {
  margin-left: auto;
  margin-right: 5px;
}

.select-option .dropdown-menu .inner {
  padding: 4px;
}

.select-option .bootstrap-select .dropdown-menu li .dropdown-item {
  border-radius: 6px;
  margin-bottom: 4px;
  font-weight: bold;
  background-color: rgb(245 245 253);
}

.select-option .bootstrap-select .dropdown-menu li .dropdown-item:hover {
  background-color: #4688ed;
}

.select-option .bootstrap-select.show-tick .dropdown-menu .selected {
  background-color: #4688ed;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
}

.select-option .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  color: #ffffff;
}

.select-option .dropdown-toggle::after {
  content: '';
  border: none !important;
  width: 16px;
  height: 14px;
  background-image: url('../../../images/icons/drop_down_image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.select-option .bootstrap-select.show .dropdown-toggle::after {
  background-image: url('../../../images/icons/drop_up_image.png');
}


/* add .select-center for image option and radio button */

.select-center .custom-control-input,
.select-center .custom-control-label::after,
.select-center .custom-control-label::before {
  top: 50%;
  transform: translateY(-50%);
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"].form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="number"].form-control,
input[type="date"].form-control {
  border-color: #2388ed;
}

input[type="email"].input-gray,
input[type="text"].input-gray,
input[type="password"].input-gray,
input[type="number"].input-gray,
input[type="date"].input-gray,
input[type="email"].form-control.input-gray,
input[type="text"].form-control.input-gray,
input[type="password"].form-control.input-gray,
input[type="number"].form-control.input-gray,
input[type="date"].form-control.input-gray,
input.form-control.input-gray,
textarea.input-gray {
  border-color: #f5f5fd;
  background-color: #f5f5fd;
  border-radius: 5px;
}

input[type="email"].input-gray:focus,
input[type="text"].input-gray:focus,
input[type="password"].input-gray:focus,
input[type="number"].input-gray:focus,
input[type="date"].input-gray:focus,
input[type="email"].form-control.input-gray:focus,
input[type="text"].form-control.input-gray:focus,
input[type="password"].form-control.input-gray:focus,
input[type="number"].form-control.input-gray:focus,
input[type="date"].form-control.input-gray:focus,
input.form-control.input-gray:focus,
textarea.input-gray:focus {
  border-color: #2388ed;
  background-color: #f5f5fd;
  box-shadow: none;
}

input[type="email"].input-white,
input[type="text"].input-white,
input[type="password"].input-white,
input[type="number"].input-white,
input[type="date"].input-white,
input[type="email"].form-control.input-white,
input[type="text"].form-control.input-white,
input[type="password"].form-control.input-white,
input[type="number"].form-control.input-white,
input[type="date"].form-control.input-white,
input.form-control.input-white,
textarea.input-white {
  border-color: transparent;
  background: #ffffff;
  border-radius: 5px;
}

input[type="email"].input-white:focus,
input[type="text"].input-white:focus,
input[type="password"].input-white:focus,
input[type="number"].input-white:focus,
input[type="date"].input-white:focus,
input[type="email"].form-control.input-white:focus,
input[type="text"].form-control.input-white:focus,
input[type="password"].form-control.input-white:focus,
input[type="number"].form-control.input-white:focus,
input[type="date"].form-control.input-white:focus,
input.form-control.input-white:focus,
textarea.input-gray:focus {
  border-color: #2388ed;
  background-color: #ffffff;
  box-shadow: none;
}

input[type="email"]:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled,
input[type="email"].form-control:disabled,
input[type="text"].form-control:disabled,
input[type="password"].form-control:disabled,
input[type="number"].form-control:disabled,
input[type="date"].form-control:disabled,
input.form-control:disabled,
textarea:disabled,
input[type="email"].disabled,
input[type="text"].disabled,
input[type="password"].disabled,
input[type="number"].disabled,
input[type="date"].disabled,
input[type="email"].form-control.disabled,
input[type="text"].form-control.disabled,
input[type="password"].form-control.disabled,
input[type="number"].form-control.disabled,
input[type="date"].form-control.disabled,
input.form-control.disabled,
textarea.disabled {
  border-color: #EBEBEB;
  background: #EBEBEB;
}

.btn-link,
a,
.btn-link:hover,
a:hover {
  color: #2388ed;
}

.btn-link:focus {
  box-shadow: none;
}

.deactive {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.close {
  position: absolute;
  top: -15px;
  right: -15px;
  opacity: 1;
  width: 30px;
  height: 30px;
  background-image: url('../../../images/icons/cross_blue.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  outline: none;
}

.close:hover {
  opacity: 1 !important;
}

.close:focus {
  outline: none;
}

.modal-content {
  background-color: #F5F5FC;
}


/* custom select file option */

.browse-file-btn {
  max-width: 120px;
}

.browse-file-btn .custom-file-input:lang(en)~.custom-file-label::after {
  content: "Browse";
  width: 100%;
  max-width: inherit;
  border: 0;
  text-align: center;
  background-color: #2388ed;
  color: #ffff;
  font-weight: 500;
  border-radius: 6px;
  height: auto;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.browse-file-btn .custom-file-input,
.browse-file-btn .custom-file-label {
  width: 100%;
  max-width: inherit;
  border: none;
}

.browse-file-btn:focus .custom-file-label::after {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, .5);
}