.amicandidate-form label {
  font-size: 1.75rem;
}

.select-img {
  max-width: 100px;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
}

@media only screen and (min-width: 1025px) {
  .btn-get-result {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .select-img {
    max-width: 50px;
    height: 50px;
  }
}
