/* our pricing */

.ourprice .card {
  background-color: transparent;
  border: none;
  max-width: 400px;
}

.ourprice .card-header {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.ourprice .card-title {
  margin-bottom: 0;
  font-size: 24px;
  line-height: initial;
  font-weight: bold;
  color: #fff;
  background-color: #2388ed;
  width: 316px;
  padding: 10px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ourprice .card-body {
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 3rem;
  min-height: 330px;
  box-shadow: 0px 0px 10px 1px rgb(0 135 235 / 22%);
}

.ourprice .card h5 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2388ed;
  margin-bottom: 1rem;
}

.ourprice .card-footer .btn {
  font-size: 1.3rem;
}

.ourprice .card-footer {
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  bottom: -20px;
  width: 100%;
  text-align: center;
}


/* how it works section */

.hiworks {
  background-color: #fff;
}

.hiworks1,
.hiworks2,
.hiworks3 {
  text-align: center;
  position: relative;
}

.hiworksimg {
  width: 150px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.hiworks1 .hiworksimg {
  background-image: url('../../../images/products/how_it_works_icon_1_normal.png');
}

.hiworks2 .hiworksimg {
  background-image: url('../../../images/products/how_it_works_icon_2_normal.png');
}

.hiwarrow {
  max-width: 80px;
  width: 100%;
  height: 100px;
  top: 30px;
  background-image: url('../../../images/icons/how_it_works_arrow_normal.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hiworks3 .hiworksimg {
  background-image: url('../../../images/products/how_it_works_icon_3_normal.png');
}


/* animation effect  */

.hiworks1 .hiworksimg {
  -webkit-animation: changeBg1 10s infinite;
  animation: changeBg1 10s infinite;
}

.hiworks2.hiworks2arrow {
  background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
  -webkit-animation: changeBg2 10s infinite;
  animation: changeBg2 10s infinite;
  min-height: 80px;
  height: 100%;
  max-width: 180px;
  top: 0;
}

.hiworks2 .hiworksimg {
  -webkit-animation: changeBg3 10s infinite;
  animation: changeBg3 10s infinite;
}

.hiworks3.hiworks3arrow {
  -webkit-animation: changeBg4 10s infinite;
  animation: changeBg4 10s infinite;
}

.hiworks3 .hiworksimg {
  -webkit-animation: changeBg5 10s infinite;
  animation: changeBg5 10s infinite;
}

@-webkit-keyframes changeBg1 {
  0% {
    background-image: url('../../../images/products/how_it_works_icon_1_hover.png');
  }
  25% {
    background-image: url('../../../images/products/how_it_works_icon_1_normal.png');
  }
  50% {
    background-image: url('../../../images/products/how_it_works_icon_1_normal.png');
  }
  75% {
    background-image: url('../../../images/products/how_it_works_icon_1_normal.png');
  }
  100% {
    background-image: url('../../../images/products/how_it_works_icon_1_normal.png');
  }
}

@keyframes changeBg1 {
  0% {
    background-image: url('../../../images/products/how_it_works_icon_1_hover.png');
  }
  25% {
    background-image: url('../../../images/products/how_it_works_icon_1_normal.png');
  }
  50% {
    background-image: url('../../../images/products/how_it_works_icon_1_normal.png');
  }
  75% {
    background-image: url('../../../images/products/how_it_works_icon_1_normal.png');
  }
  100% {
    background-image: url('../../../images/products/how_it_works_icon_1_normal.png');
  }
}

@-webkit-keyframes changeBg2 {
  0% {
    background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
  }
  25% {
    background-image: url('../../../images/icons/how_it_works_arrow_vertical_hover.png');
  }
  50% {
    background-image: url('../../../images/icons/how_it_works_arrow_vertical_hover.png');
  }
  75% {
    background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
  }
  100% {
    background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
  }
}

@keyframes changeBg2 {
  0% {
    background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
  }
  25% {
    background-image: url('../../../images/icons/how_it_works_arrow_vertical_hover.png');
  }
  50% {
    background-image: url('../../../images/icons/how_it_works_arrow_vertical_hover.png');
  }
  75% {
    background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
  }
  100% {
    background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
  }
}

@-webkit-keyframes changeBg3 {
  0% {
    background-image: url('../../../images/products/how_it_works_icon_2_normal.png');
  }
  25% {
    background-image: url('../../../images/products/how_it_works_icon_2_hover.png');
  }
  50% {
    background-image: url('../../../images/products/how_it_works_icon_2_hover.png');
  }
  75% {
    background-image: url('../../../images/products/how_it_works_icon_2_normal.png');
  }
  100% {
    background-image: url('../../../images/products/how_it_works_icon_2_normal.png');
  }
}

@keyframes changeBg3 {
  0% {
    background-image: url('../../../images/products/how_it_works_icon_2_normal.png');
  }
  25% {
    background-image: url('../../../images/products/how_it_works_icon_2_hover.png');
  }
  50% {
    background-image: url('../../../images/products/how_it_works_icon_2_hover.png');
  }
  75% {
    background-image: url('../../../images/products/how_it_works_icon_2_normal.png');
  }
  100% {
    background-image: url('../../../images/products/how_it_works_icon_2_normal.png');
  }
}

@-webkit-keyframes changeBg4 {
  0% {
    background-image: url('../../../images/icons/how_it_works_arrow_normal.png');
  }
  25% {
    background-image: url('../../../images/icons/how_it_works_arrow_normal.png');
  }
  50% {
    background-image: url('../../../images/icons/how_it_works_arrow_normal.png');
  }
  75% {
    background-image: url('../../../images/icons/how_it_works_arrow_hover.png');
  }
  100% {
    background-image: url('../../../images/icons/how_it_works_arrow_hover.png');
  }
}

@keyframes changeBg4 {
  0% {
    background-image: url('../../../images/icons/how_it_works_arrow_normal.png');
  }
  25% {
    background-image: url('../../../images/icons/how_it_works_arrow_normal.png');
  }
  50% {
    background-image: url('../../../images/icons/how_it_works_arrow_normal.png');
  }
  75% {
    background-image: url('../../../images/icons/how_it_works_arrow_hover.png');
  }
  100% {
    background-image: url('../../../images/icons/how_it_works_arrow_hover.png');
  }
}

@-webkit-keyframes changeBg5 {
  0% {
    background-image: url('../../../images/products/how_it_works_icon_3_normal.png');
  }
  25% {
    background-image: url('../../../images/products/how_it_works_icon_3_normal.png');
  }
  50% {
    background-image: url('../../../images/products/how_it_works_icon_3_normal.png');
  }
  75% {
    background-image: url('../../../images/products/how_it_works_icon_3_hover.png');
  }
  100% {
    background-image: url('../../../images/products/how_it_works_icon_3_hover.png');
  }
}

@keyframes changeBg5 {
  0% {
    background-image: url('../../../images/products/how_it_works_icon_3_normal.png');
  }
  25% {
    background-image: url('../../../images/products/how_it_works_icon_3_normal.png');
  }
  50% {
    background-image: url('../../../images/products/how_it_works_icon_3_normal.png');
  }
  75% {
    background-image: url('../../../images/products/how_it_works_icon_3_hover.png');
  }
  100% {
    background-image: url('../../../images/products/how_it_works_icon_3_hover.png');
  }
}


/* related products */

.product-card {
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgb(209 209 209 / 74%);
  max-width: 335px;
}

.product-card .card-header {
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  height: 180px;
}

.product-card .card-img,
.product-card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 100%;
  height: inherit;
  object-fit: fill;
}

.product-card .card-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../images/products/curve_product.png');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-card .card-footer {
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-card .btn-add-cart {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-card .card-title {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 0;
  padding: 1rem 0;
}

.product-card .card-title h5 {
  font-size: 1rem;
}

.rp-price {
  font-weight: bold;
}

.rp-price h6 span {
  font-size: large;
}


/* responsive */

@media only screen and (min-width: 1367px) {
  /* our price */
  .ourprice .card {
    max-width: 540px;
  }
  .ourprice .card p {
    font-size: 1.4rem;
  }
  .ourprice .card h5 {
    font-size: 1.8rem;
  }
  .ourprice .card-title {
    font-size: 2.1rem;
    max-width: 440px;
    width: 100%;
  }
  .ourprice .card-body {
    min-height: 450px;
  }
  .ourprice .card-footer .btn {
    font-size: 1.7rem;
  }
  .ourprice .card-footer {
    bottom: -22px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .ourprice .card-title {
    max-width: 276px;
  }
}

@media only screen and (max-width: 991px) {
  /* our price */
  .ourprice .card-title {
    font-size: 1.3rem;
  }
  .ourprice .card h5 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 767px) {
  /* our price */
  .ourprice .card {
    margin: auto;
  }
  .ourprice .card-body {
    min-height: auto;
  }
  .hiworks3arrow {
    top: 0;
    min-height: 80px;
    height: 100%;
    max-width: 180px;
    background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
  }
  @-webkit-keyframes changeBg4 {
    0% {
      background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
    }
    25% {
      background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
    }
    50% {
      background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
    }
    75% {
      background-image: url('../../../images/icons/how_it_works_arrow_vertical_hover.png');
    }
    100% {
      background-image: url('../../../images/icons/how_it_works_arrow_vertical_hover.png');
    }
  }
  @keyframes changeBg4 {
    0% {
      background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
    }
    25% {
      background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
    }
    50% {
      background-image: url('../../../images/icons/how_it_works_arrow_vertical_normal.png');
    }
    75% {
      background-image: url('../../../images/icons/how_it_works_arrow_vertical_hover.png');
    }
    100% {
      background-image: url('../../../images/icons/how_it_works_arrow_vertical_hover.png');
    }
  }
}

@media only screen and (min-width: 1367px) {
  .related-product {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  .btn-add-cart {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 576px) {
  .hiworksimg {
    width: 130px;
    height: 130px;
  }
  .hiworksimg {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .ourprice .card-title {
    width: 290px;
  }
  .hiworks .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }
  .hiworks2.hiworks2arrow,
  .hiworks3arrow {
    max-width: 100%;
  }
}