.products-slider {
  height: 270;
  max-width: 480px;
  width: 100%;
}

.products-slider .item,
.products-slider .products-img-view {
  height: 270px;
  width: 100%;
}

.products-slider .products-img-view img {
  max-width: 480px;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.products-slider-nav {
  margin-top: 10px;
  height: 100px;
  max-width: 480px;
  width: 100%;
}

.products-slider-nav .item {
  width: 96px !important;
  height: 96px;
  padding: 0%;
  border-radius: 0%;
  border: 0;
  margin-right: 10px;
}

.products-slider-nav .item:last-child {
  margin-right: 0;
}

.products-slider-nav .item img {
  width: 96px;
  height: 96px;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
  background-color: #eaeaea;
  border: 2px solid transparent;
}

.products-slider-nav .item:hover {
  cursor: pointer;
}

.products-slider-nav .item.slick-active img {
  border: 2px solid #2388ed;
}

.products-slider .slick-next::before,
.products-slider-nav .slick-next::before {
  content: '' !important;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/arrow_right.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.products-slider .slick-prev::before,
.products-slider-nav .slick-prev::before {
  content: '' !important;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/arrow_left.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.products-slider .slick-prev,
.products-slider-nav .slick-prev {
  left: 10px;
  z-index: 1;
}

.products-slider .slick-next,
.products-slider-nav .slick-next {
  right: 10px;
  z-index: 1;
}


/* price */

.product-slider-contents .rp-price h6 {
  font-size: x-large;
}

.product-slider-contents .rp-price h6 span {
  font-size: inherit;
}


/* product description */

.product-desc p {
  font-size: 14px;
}

.product-available {
  border-top: 1px solid #4a5560;
  border-bottom: 1px solid #4a5560;
}

.product-cart-select {
  max-width: 160px;
  box-sizing: border-box;
}

.product-cart-select input.form-control {
  background-color: #EFF2F7;
  border: none;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

.product-add-cart .btn {
  background-color: #EFF2F7;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}

.product-cart-select input.form-control:focus,
.product-add-cart .btn:focus {
  box-shadow: none;
}


/* related product */


/* related products */

.product-card {
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgb(209 209 209 / 74%);
  max-width: 335px;
}

.product-card .card-header {
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  height: 180px;
}

.product-card .card-img,
.product-card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 100%;
  height: inherit;
  object-fit: fill;
}

.product-card .card-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/products/curve_product.png');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-card .card-footer {
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-card .btn-add-cart {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-card .card-title {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 0;
  padding: 1rem 0;
}

.product-card .card-title h5 {
  font-size: 1rem;
}

.rp-price {
  font-weight: bold;
}

.rp-price h6 span {
  font-size: large;
}


/* responsive */

@media only screen and (min-width: 1200px) {
  .related-product .slick-dots {
    bottom: -40px !important;
  }
}

@media only screen and (min-width: 1367px) {
  /* related product */
  .related-product {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  .btn-add-cart {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 991px) {
  .products-slider,
  .products-slider .item,
  .products-slider .products-img-view {
    min-height: 200px;
    max-height: 200px;
  }
  .products-slider-nav {
    height: 60px;
  }
  .products-slider-nav .item,
  .products-slider-nav .item img {
    width: 50px !important;
    height: 50px;
  }
  .rp-price h6 {
    font-size: large;
  }
  .product-desc p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 776px) {
  .product-cart-select {
    max-width: 120px;
  }
  .product-available h5 {
    font-size: 1rem;
  }
  .product-add-cart .btn,
  .product-cart-select input.form-control {
    font-size: 12px;
  }
}